name: Build and Push Docker Image on Tag
on:
  push:
    tags:
      - '*'
jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    environment: production
    steps: 
      - uses: actions/checkout@v4

      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_PROJECT_NAME }}:${{ github.ref_name }}
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_PROJECT_NAME }}:latest
          cache-from: type=local,src=/tmp/.buildx-cache
  deploy:
    name: Deploy to Render
    needs: build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Trigger Render Deploy Hook
        run: |
          curl ${{ secrets.RENDER_DEPLOY_HOOK }}&imgURL=${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKERHUB_PROJECT_NAME }}:${{ github.ref_name }}